<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/prism.css" %}</style>
    <link rel="stylesheet" href="/css/base.css">
    <title>{{metatitle}}</title>
</head>

<body>
    
    <main>
        {{content | safe}}
        {% if signoff %}
            {% include "./signoff.md" %}
        {% endif  %}
    </main>
    
    {# Scripts Section #}
    <script src="/scripts/prism.js"></script>
</body>
</html>