@font-face {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PTSans-Regular.ttf');
}

/* Based on http://kevinburke.bitbucket.org/markdowncss/ */

html {
    font-size: calc(20/16 * 1rem);
}
body{
    margin: 0 auto;
    font-family: 'PTSans', Palatino, serif;
    font-weight: 400;
    color: #444444;
    line-height: 1;
    max-width: 700px;
    padding: 30px;
}
h1, h2, h3, h4 {
    font-weight: 400;
    font-family: Georgia, Palatino, serif;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
main h1:first-child {
    font-size: 3rem;
}
h1 {
    font-size: 2rem;
}
h1 + h2 {
    color:grey;
    font-family: 'PTSans', Palatino, serif;
}
h2 {
    font-size: 1.5rem;
    margin: 24px 0 6px;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    font-size: 1rem;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol {
    font-size: 1rem;
    line-height: 24px;
}
pre {
    padding: 0px 24px;
    max-width: 100%;
    white-space: pre-wrap;
    font-size: 0.7rem!important;
}
pre[class*=language-]:before, 
pre[class*=language-]:after {
    box-shadow: none!important;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 0.75em;
    background: #eee;
    border-radius: 0.2rem;
    padding: 0.2rem;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    margin: 1em 2em;
}
blockquote p {
    color: #666;
}
hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}
table {
    border-collapse: collapse;
    margin: 1em 1em;
    border: 1px solid #CCC;
}
table thead {
    background-color: #EEE;
}
table thead td {
    color: #666;
}
table td {
    padding: 0.5em 1em;
    border: 1px solid #CCC;
}
img {
    max-width: 100%;
}

header {
    margin-bottom: 2em;
}
